absl-py==0.9.0
adal==1.2.2
affine==2.3.0
aiohttp==3.6.2
alembic==1.3.2
altair==3.3.0
antlr4-python3-runtime==4.7.2
appdirs==1.4.3
asciitree==0.3.3
asn1crypto==1.3.0
astor==0.7.1
async-generator==1.10
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
backcall==0.1.0
basemap
beautifulsoup4==4.8.2
bleach==3.1.0
blinker==1.4
blosc==1.8.1
bokeh==1.4.0
boto3==1.10.49
botocore==1.13.49
Bottleneck==1.3.1
branca==0.3.1
cachetools==3.1.1
Cartopy==0.17.0
cc-plugin-ncei==2.0.2
certifi==2019.11.28
certipy==0.1.3
cf-units==2.1.3
cffi==1.13.2
cftime==1.0.4.2
chardet==3.0.4
ciso==0.1.0
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
climlab==0.7.5
climpred==1.1.0
cloudpickle==1.2.2
cmaps==1.0.0
cmocean==2.0
colorama==0.4.3
colorcet==2.0.1
colorspacious==1.1.2
compliance-checker==4.3.1
configobj==5.0.6
configparser==3.7.3
croniter==0.3.30
cryptography==2.8
ctd==1.0.0
cycler==0.10.0
cytoolz==0.10.1
dask==2.9.0
dask-gateway==0.6.1
dask-glm==0.2.0
dask-kubernetes==0.10.0
dask-labextension==1.0.3
dask-ml==1.1.1
datashader==0.9.0
datashape==0.5.4
decorator==4.4.1
defusedxml==0.6.0
descartes==1.1.0
distributed==2.9.0
docker==4.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docrep==0.2.7
docutils==0.15.2
entrypoints==0.3
eofs==1.4.0
erddapy==0.5.0
ESMPy==8.0.0
fastcache==1.1.0
fasteners==0.14.1
Fiona==1.8.6
folium==0.10.1
fsspec==0.6.2+28.gc325a40
future==0.18.2
gast==0.3.2
gcsfs==0.6.0+2.gd7b832e
GDAL==2.4.1
gdrivefs==0+untagged.14.g0a3270a
geolinks==0.2.0
geopandas==0.6.2
geoviews==1.6.6
gitdb2==2.0.6
GitPython==3.0.5
gmpy2==2.1.0b1
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
graphviz==0.13.2
gridgeo==1.5.2
grpcio==1.23.0
gsw==3.3.1
h5netcdf==0.7.4
h5py==2.10.0
HeapDict==1.0.1
holoviews==1.12.7
httplib2==0.15.0
hvplot==0.5.2
idna==2.8
imageio==2.6.1
importlib-metadata==1.3.0
intake==0.5.3
intake-esm==2019.12.13.post5
intake-geopandas==0.2.2
intake-stac==0.2.2
intake-xarray==0.3.1
ioos-tools==1.4.0
ipykernel==5.1.3
ipyleaflet==0.11.6
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.15.2
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
json5==0.8.5
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyter-panel-proxy==0.1.0
jupyter-server-proxy==1.2.0
jupyterhub==1.0.0
jupyterlab==1.2.3
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
kubernetes==10.0.1
kubernetes-asyncio==10.0.1
llvmlite==0.31.0
locket==0.2.0
lxml==4.4.2
lz4==2.2.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.2.1
marshmallow-oneofschema==2.0.1
matplotlib==3.1.2
MechanicalSoup==0.12.0
mercantile==1.1.2
MetPy==0.11.1
mistune==0.8.4
mock==3.0.5
monotonic==1.5
more-itertools==8.0.2
mpmath==1.1.0
msgpack==0.6.2
msgpack-numpy==0.4.4.3
multidict==4.7.3
multipledispatch==0.6.0
munch==2.5.0
mypy-extensions==0.4.3
nbconvert==5.6.1
nbdime==1.1.0
nbformat==5.0.3
nbgitpuller==0.8.0
nc-time-axis==1.2.0
netCDF4==1.5.1.2
networkx==2.4
notebook==6.0.1
numba==0.47.0
numcodecs==0.6.4
numpy==1.17.3
oauthlib==3.0.1
oceans==0.7.0
olefile==0.46
OWSLib==0.19.0
packaging==20.0
paegan==1.1.4
palettable==3.3.0
pamela==1.0.0
pandas==0.25.3
pandas-flavor==0.2.0
pandocfilters==1.4.2
panel==0.7.0
param==1.9.2
parso==0.5.2
partd==1.1.0
pathlib2==2.3.5
patsy==0.5.1
pendulum==2.0.5
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.0.0
Pint==0.10.1
pluggy==0.13.1
pocean-core==1.9.3
podaacpy==2.4.0
pooch==0.7.0
prefect==0.7.3
prometheus-client==0.7.1
prompt-toolkit==2.0.10
properscoring==0.1
protobuf==3.8.0
psutil==5.6.7
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pyct==0.4.6
pycurl==7.43.0.3
Pydap==3.2.2
pyepsg==0.4.0
pygc==1.2.1
pygeoif==0.7
Pygments==2.5.2
pygpu==0.7.6
pyinterp==0.0.8
PyJWT==1.7.1
pykdtree==1.3.1
pyke==1.1.1
pyoos==0.8.4
pyOpenSSL==19.1.0
pyorbital==1.5.0
pyparsing==2.4.6
pyproj==1.9.6
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyresample==1.14.0
pyrsistent==0.15.7
pyshp==2.1.0
PySocks==1.7.1
pyspectral==0.9.4
pyspharm==1.0.9
pytest==5.3.1
python-box==3.4.6
python-dateutil==2.7.5
python-editor==1.0.4
python-geotiepoints==1.1.8
python-slugify==4.0.0
python-snappy==0.5.4
pytide==1.2.0
pytz==2019.3
pytzdata==2019.3
pyviz-comms==0.7.2
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.1
qtconsole==4.6.0
rasterio==1.0.25
regex==2020.1.8
regionmask==0.4.0
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
rio-cogeo==1.1.6
rsa==4.0
Rtree==0.9.3
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
s3fs==0.4.0
s3transfer==0.2.1
sat-search==0.2.2
sat-stac==0.3.1
satpy==0.18.1
scikit-image==0.16.2
scikit-learn==0.22
scipy==1.3.2
scitools-iris==2.2.0
seaborn==0.9.0
seawater==3.3.4
Send2Trash==1.5.0
Shapely==1.6.4.post2
simpervisor==0.3
simplejson==3.17.0
six==1.13.0
smmap2==2.0.5
snuggs==1.4.7
sortedcontainers==2.1.0
soupsieve==1.9.4
sparse==0.8.0
SQLAlchemy==1.3.12
statsmodels==0.10.2
supermercado==0.0.5
sympy==1.4
tabulate==0.8.6
tblib==1.6.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
Theano==1.0.4
tiledb==0.5.2
timeout-decorator==0.4.1
toml==0.10.0
toolz==0.10.0
torch==1.1.0
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
traittypes==0.2.1
trollimage==1.11.0
trollsift==0.3.4
typing-extensions==3.7.4.1
Unidecode==1.1.1
unyt==2.4.0
uritemplate==3.0.1
urllib3==1.25.7
UTide==0.2.4
vega==2.6.0
vega-datasets==0.7.0
vincent==0.4.4
viscm==0.7
watermark==2.0.1
wcwidth==0.1.8
webencodings==0.5.1
WebOb==1.8.5
websocket-client==0.57.0
Werkzeug==0.16.0
wget==3.2
widgetsnbextension==3.5.1
windspharm==0+unknown
xarray==0.14.1
xesmf==0.2.1
xgcm==0.2.0+77.g3151dd3
xhistogram==0.1.1
xlrd==1.2.0
xmitgcm==0.4.1+11.g876786c
xrft==0.2.0
xrviz==0.1.4
xskillscore==0.0.11
yarl==1.3.0
zarr==2.3.2
zict==1.0.0
zipp==0.6.0
